#about {
    background-image: url('../../public/background-image.png');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image in the section */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: white; /* Ensures text is readable, you can adjust color if needed */
    display: flex;
}

.about-content {
    display: flex;
    gap: 2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 8px;
}

.about-picture {
    width: 300px;
    height: 300px;
    border-radius: 40%;
    object-fit: cover;
}

.about-text {
    max-width: 600px;
    text-align: left;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.about-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.get-in-touch {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #21a1f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.get-in-touch:hover {
    background-color: #61dafb;
}

.resume-btn {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f0f0f0;
    color: #0077b5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.resume-btn:hover {
    background-color: #0077b5;
    color: white;
}

@media (max-width: 600px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-text {
        text-align: center;
    }

    .about-picture {
        margin-bottom: 1rem;
    }
}
