@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Header Styles */
.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(14, 22, 37);
    color: white;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.logo h1 {
    font-size: 1.8rem;
}

/* Burger Menu */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px;
    height: 22px;
}

.burger-menu .line {
    width: 100%;
    height: 3px;
    background-color: white;
}

/* Navigation */
.nav {
    display: flex;
    gap: 1rem;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-size: x-large;
}

.nav.open {
    display: flex;
}

@media (max-width: 768px) {
    /* Hide nav and display burger on mobile */
    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333;
        flex-direction: column;
        width: 200px;
        display: none;
        transition: all 0.3s ease;
    }

    .nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
    }

    .nav li a {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        display: block;
    }

    .burger-menu {
        display: flex;
    }
    
    .nav.open {
        display: flex;
    }
}

/* Burger Menu Open Animation */
.burger-menu.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open .line:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
