header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(14, 22, 37);
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav ul li a {
    font-weight: bold;
    font-size: x-large;
    color: white;
    text-decoration: none;
}
