#projects {
    padding: 2rem;
    background-color: #ffffff;
    text-align: center;
}

#projects h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.project-card {
    background-color: #f5f5f5;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-card a {
    font-size: 1rem;
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}

#projects .container {
    max-width: 1200px;
    margin: 0 auto; /* Center the container */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}
