#social {
    padding: 2rem;
    background-color: #ffffff;
    text-align: center;
}

#social h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#social ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#social ul li {
    font-size: 1.5rem;
}

#social ul li a {
    color: #21a1f1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

#social ul li a:hover {
    color: #61dafb;
}
