#social {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
}

#social h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.icon {
    font-size: 3rem;
    color: #333;
    transition: color 0.3s ease;
}

.github-icon:hover {
    color: #4078c0; /* GitHub blue */
}

.linkedin-icon:hover {
    color: #0077b5; /* LinkedIn blue */
}

a {
    text-decoration: none;
}
